{% extends "layout.html" %}
{% block body %}
<h2>Register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('auth.register') }}" method=post>
<dl>
<dt>{{form.email.label}}:
<dd>{{ form.email }}
<dt>{{form.username.label}}:
<dd>{{ form.username }}
<dt>{{form.password.label}}:
<dd>{{ form.password }}
<dt>{{form.confirm.label}}:
<dd>{{ form.confirm }}
<dt>{{form.accept_tos.label}}:
<dd>{{ form.accept_tos }}
<dd>{{ form.submit }}
</dl>
</form>
{% endblock %}
