{% extends "layout.html" %}
{% block body %}
    {% if g.user.is_authenticated %}
    <form action="{{ url_for('main.add_entry') }}" method=post class=add-entry>
        <dl>
            <dt>{{ form.title.label }}:
            <dd>{{ form.title }}
            <dt>{{ form.text.label }}:
            <dd>{{ form.text }}
            <dd><input type=submit value=Share>
        </dl>
    </form>
    {% endif %}
<ul class=entries>
{% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
{% else %}
    <li><em>Unbelievable.  No entries here so far</em>
{% endfor %}
</ul>
{{entries_count}}
{% endblock %}
